
<button (click)="logout()">Logout</button>

<div class="container">
    <h2>Customer Dashboard</h2>
  
    <!-- Raise Request Form -->
    <div>
      <form [formGroup]="raiseRequestForm" (ngSubmit)="onRaiseRequest()">
        <div class="form-group row">
          <label for="requestTitle" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="requestTitle" formControlName="requestTitle" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="requestDetails" class="col-sm-2 col-form-label">Details</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="requestDetails" rows="3" formControlName="requestDetails" required></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="raiseRequestForm.invalid">Raise Request</button>
      </form>
    </div>
  
    <hr/>
  
    <!-- View All Requests -->
    <div>
      <h3>My Requests</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Assigned To</th>
            <th>Details</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of requests">
            <td>{{request.title}}</td>
            <td>{{request.email}}</td>
            <td>{{request.details}}</td>
            <td>{{request.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  